.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56fb2), to(#28b485a9)), url("./photo/bg1.jpg");
  background: linear-gradient(to right bottom, #7ed56fb2, #28b485a9), url("./photo/bg1.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
  font-size: 3.5rem;
  color: #fff;
  -webkit-animation: moveInTop .8s ease-in-out;
          animation: moveInTop .8s ease-in-out;
}

.heading__primary {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.heading__primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 4rem;
  letter-spacing: 3.5rem;
  -webkit-animation: moveInLeft .8s ease-in-out;
          animation: moveInLeft .8s ease-in-out;
}

.heading__primary--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  -webkit-animation: moveInRight .8s ease-in-out;
          animation: moveInRight .8s ease-in-out;
  margin-bottom: 3rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveInbottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInbottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2.5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2.5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.btn:active, .btn:focus {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover::after {
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
  opacity: 0;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #7ed56fb2;
  color: #777;
}

.btn--green::after {
  background-color: #fff;
}

.btn--animated {
  -webkit-animation: moveInTop .5s ease-in-out .75s;
          animation: moveInTop .5s ease-in-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  color: #7ed56fb2;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  border-bottom: 1px solid #7ed56fb2;
  padding: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-text:hover {
  background-color: #7ed56fb2;
  color: #fff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-text:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 0.5 1 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1 rgba(0, 0, 0, 0.2);
}

/************************
        Grid test
***********************/
.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  text-align: center;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
  float: left;
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem)/3);
  float: left;
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-4 {
  width: calc((90% - 3 * 6rem)/4);
  float: left;
}

.row .col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

/********************
        section about
********************/
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56fb2), to(#28b485a9));
  background: linear-gradient(to right bottom, #7ed56fb2, #28b485a9);
  display: inline-block;
  background-clip: text;
  color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  letter-spacing: .2rem;
}

.heading-secondary:hover {
  -webkit-transform: skew(2deg, 12deg) scale(1.1);
          transform: skew(2deg, 12deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.composition {
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
}

.composition__photo--p1 {
  top: -2rem;
  left: 0;
}

.composition__photo--p2 {
  top: 0;
  right: 0;
}

.composition__photo--p3 {
  top: 10rem;
  left: 10rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #7ed56fb2;
  outline-offset: 2.5rem;
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2) translateY(1rem);
          transform: scale(1.2) translateY(1rem);
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/***********************
        Features
***********************/
.section-features {
  padding: 20rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56fb2), to(#28b485a9)), url("./photo/bg1.jpg");
  background: linear-gradient(to right bottom, #7ed56fb2, #28b485a9), url("./photo/bg1.jpg");
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -25vh;
  margin-bottom: 25vh;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .5rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56fb2), to(#28b485a9));
  background-image: linear-gradient(to right, #7ed56fb2, #28b485a9);
  background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.1);
          transform: translateY(-1.5rem) scale(1.1);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/*************************
        section tours
*************************/
.section-tours {
  background-color: #f7f7f7;
  padding: 33vh  0;
  margin-top: -39vh;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: relative;
  height: 50rem;
  overflow: hidden;
}

.card__side {
  height: 50rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__side--back--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56fb2), to(#28b485a9));
  background-image: linear-gradient(to right bottom, #7ed56fb2, #28b485a9);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url("/src/photo/bg1.jpg");
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("/src/photo/bg1.jpg");
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url("/src/photo/bg1.jpg");
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("/src/photo/bg1.jpg");
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56fb2), to(#28b485a9)), url("/src/photo/bg1.jpg");
  background-image: linear-gradient(to right bottom, #7ed56fb2, #28b485a9), url("/src/photo/bg1.jpg");
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 10rem;
  right: 2rem;
  text-align: right;
  width: 75%;
  z-index: 5;
  padding: .5rem;
}

.card__heading--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__heading--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__heading--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56fb2), to(#28b485a9));
  background-image: linear-gradient(to right bottom, #7ed56fb2, #28b485a9);
}

.card__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #777;
}

.card__details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.card a {
  text-decoration: none;
  color: #777;
  background-color: #fff;
}

/***********************
        Stories 
***********************/
section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px;
  padding: 5rem;
  padding-left: 8rem;
  font-size: 1.5rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(48% at 50% 50%);
  -webkit-clip-path: circle(45% at 50% 50%);
          clip-path: circle(45% at 50% 50%);
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  position: relative;
}

.story__image {
  height: 100%;
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story:hover .story__image {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: blur(5px) brightness(80%);
          filter: blur(5px) brightness(80%);
}

.story p {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

/*****************************
        Bookings
*****************************/
.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56fb2), to(#28b485a9));
  background-image: linear-gradient(to right bottom, #7ed56fb2, #28b485a9);
}

.book {
  background-image: linear-gradient(108deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(./photo/bg1.jpg);
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  text-align: left;
}

.book__form {
  width: 50%;
  padding: 6rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #7ed56fb2;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ffb900;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  text-align: left;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 40%;
  display: inline;
}

.form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
}

.form__radio-input {
  display: none;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #28b485a9;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #28b485a9;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

/*********************
        footer
********************/
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.footer__logo-box {
  font-size: 10rem;
}

.footer__navigation {
  border-top: 1px solid #f7f7f7;
  padding-bottom: 2rem;
  display: inline-block;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link, .footer__visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__link:hover, .footer__link:active, .footer__visited:hover, .footer__visited:active {
  color: #7ed56fb2;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(5deg) scale(1.2);
          transform: rotate(5deg) scale(1.2);
}

.footer__copyright {
  border-top: 1px solid #f7f7f7;
  padding-bottom: 2rem;
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */