$color_primary_green: #7ed56fb2;
$color_secondary_green: #55c57a;
$color_primary_dark: #28b485a9;

$color_orange_light: #ffb900;
$color_orange_medium: #ff7730;

$color_blue_light: #2998ff;
$color_blue_medium: #5643fa;
$color_white: #fff;
$color_grey_drak: #777;
$color_black: #000;

//grid variables
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;

//mixins
@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//utility classes
.u-center-text{
    text-align: center;
}
.u-margin-bottom-8{
    margin-bottom: 8rem;
}
.u-margin-bottom-2{
    margin-bottom: 2rem;
}

//BASIC RESET
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color_grey_drak;
    padding: 3rem;
    box-sizing: border-box;
}
.header{
    height: 95vh;
    background: linear-gradient(to right bottom, $color_primary_green, $color_primary_dark) ,url('./photo/bg1.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    &__logo{
        position: absolute;
        top: 4rem;
        left: 4rem;
        font-size: 3.5rem;
        color: $color_white;
        animation: moveInTop .8s ease-in-out;
    }
}
.heading__primary{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  $color_white;
    text-transform: uppercase;
    text-align: center;
  
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 4rem;
        letter-spacing: 3.5rem;
        animation: moveInLeft .8s ease-in-out;
    }
    &--sub{
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        animation: moveInRight .8s ease-in-out;
        margin-bottom: 3rem;
    }
}

//animations
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        opacity: .8;
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        opacity: .8;
        transform: translateX(-2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInTop {
    0%{
        opacity:0;
        transform:translateY(10rem)
    }
    80%{
        opacity: .8;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveInbottom{
    0%{
        opacity: 0;
        transform: translateY(10rem)
    }
    80%{
        opacity: .8;
        transform: translateY(-1rem);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(10rem)
    }
    80%{
        opacity: .8;
        transform: translateY(-1rem);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

//button styles
.btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2.5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    &:link, &:visited{
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 2.5rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        //change for the button
        border: none;
        cursor: pointer;
    }
    &:hover, &:focus{
        transform: translateY(-3px);
        box-shadow: 0 .5rem 1rem rgba($color_black, .2);
        outline: none;
    }
    &:active, &:focus{
        transform: translateY(1px);
        box-shadow: 0 2px 5px rgba($color_black, .2);
    }
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    
    }
    &:hover::after{
        transform: scaleX(2);
        opacity: 0;
    }
}
.btn--white{
    background-color: $color_white;
    color: $color_grey_drak;
    &::after{
        background-color: $color_white;
        
    }
}
.btn--green{
    background-color: $color_primary_green;
    color: $color_grey_drak;
    &::after{
        background-color: $color_white;
        
    }
}
.btn--animated{
    animation: moveInTop .5s ease-in-out .75s;
    animation-fill-mode: backwards;
}
.btn-text{
    &:link,&:visited{
        color: $color_primary_green;
        text-decoration: none;
        display: inline-block;
        font-size: 1.6rem;
        border-bottom: 1px solid $color_primary_green;
        padding: 3px;
        transition: all .3s;
    }
    &:hover{
        background-color: $color_primary_green;
        color: $color_white;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color_black, .2);
    }
    &:active{
        transform: translateY(1px);
        box-shadow: 0 .5 1 rgba($color_black, .2);
    }
}

/************************
        Grid test
***********************/

.row{
    max-width: $grid_width;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    text-align: center;
    
    &:not(:last-child){
        margin-bottom: $gutter_vertical;
    }
    &::after{
        content: "";
        display: table;
        clear: both;
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter_horizontal})/2);
        float: left;
        &:not(:last-child){
            margin-right: $gutter_horizontal; 
        }
    }
    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter_horizontal})/3);
        float: left;
        &:not(:last-child){
            margin-right: $gutter_horizontal;
        }
    }
    .col-1-of-4{
        width: calc((90% - 3 * #{$gutter_horizontal})/4);
        float:left;
        &:not(:last-child){
            margin-right: $gutter_horizontal;
        }
    }
}

/********************
        section about
********************/
$color-grey-light: #f7f7f7;
.section-about{
    background-color: $color-grey-light;
    padding: 25rem 0 ;
    margin-top: -25vh;

}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right bottom, $color_primary_green, $color_primary_dark) ;
    display: inline-block;
    background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;
    &:hover{
        transform: skew(2deg, 12deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color_black, .2);
    }
}
.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
.composition{
    position: relative;
    transition: all .4s;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color_black, .2);
        border-radius: 3px;
        position: absolute;

        &--p1{
            top: -2rem;
            left: 0;
        }
        &--p2{
            top: 0;
            right: 0;
        }
        &--p3{
            top: 10rem;
            left: 10rem;
        }
        &:hover{
            outline: 1.5rem solid $color_primary_green;
            outline-offset: 2.5rem;
            box-shadow:  0 2.5rem 4rem rgba($color_black, .5rem);
            transform: scale(1.2) translateY(1rem);
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
 
}

/***********************
        Features
***********************/
.section-features{
    padding: 20rem 0;
    background: linear-gradient(to right bottom, $color_primary_green, $color_primary_dark) ,url('./photo/bg1.jpg');
    transform: skewY(-7deg);
    margin-top: -25vh;
    margin-bottom: 25vh;
    //direct child selector
    & > *{
        transform: skewY(7deg);
    }
}
.feature-box{
    background-color: rgba($color_white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 4rem rgba($color_black, .2);
    transition: all .3s;
    
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color_primary_green, $color_primary_dark);
        background-clip: text;
        color: transparent;
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.1);
        box-shadow: 0 1rem 2rem rgba($color_black, .2);
    }
    
}

/*************************
        section tours
*************************/
.section-tours{
    background-color: $color_grey_light;
    padding: 33vh  0;
    margin-top: -39vh;
  
}
.card{
   
    perspective: 150rem;
    transition: all .5s ease-in-out;
    position: relative;
    height: 50rem;
    overflow: hidden;
    &__side{
        
        height: 50rem;
        transition: all .5s;
        color: #fff;
        font-size: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
       
       
        &--back{
         
            transform: rotateY(180deg);
            &--1{
                background-image: linear-gradient(to right bottom, $color_orange_light, $color_orange_medium);
            }
            &--2{
                background-image: linear-gradient(to right bottom, $color_blue_light, $color_blue_medium);
            }
            &--3{
                background-image: linear-gradient(to right bottom, $color_primary_green, $color_primary_dark);
            }
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    //picture
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        &--1{
            background-image:linear-gradient(to right bottom, $color_orange_light, $color_orange_medium), url('/src/photo/bg1.jpg');
            
        }
        &--2{
            background-image: linear-gradient(to right bottom, $color_blue_light, $color_blue_medium), url('/src/photo/bg1.jpg');
            
        }
        &--3{
            background-image:linear-gradient(to right bottom, $color_primary_green, $color_primary_dark), url('/src/photo/bg1.jpg');
            
        }
    }
    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color_white;
        position: absolute;
        top: 10rem;
        right: 2rem;
        text-align: right;
        width: 75%;
        z-index: 5;
        padding: .5rem;
        
        &--1{
            background-image:linear-gradient(to right bottom, $color_orange_light, $color_orange_medium);
            
        }
        &--2{
            background-image: linear-gradient(to right bottom, $color_blue_light, $color_blue_medium);
            
        }
        &--3{
            background-image:linear-gradient(to right bottom, $color_primary_green, $color_primary_dark);
            
        }
    }
    &__details li{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: $color_grey_drak;
        &:not(:last-child){
            border-bottom: 1px solid #eee;
        }
    }
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    &__price-box{
        text-align: center;
        margin-bottom: 8rem;
    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
    a{
        text-decoration: none;
        color: $color_grey_drak;
        background-color: $color_white;
    }
}
/***********************
        Stories 
***********************/
section-stories{
    padding: 15rem 0;
    background-color: $color-grey-light;
}
.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 5rem rgba($color_black, .2);
    background-color: $color_white;
    border-radius: 3px;
    padding: 5rem;
    padding-left: 8rem;
    font-size: 1.5rem;
    transform: skewX(-12deg);
   
    
    &__shape{
        width: 15rem;
        
        height: 15rem;
        float: left;
        shape-outside: circle(48% at 50% 50%);
        clip-path:circle(45% at 50% 50%);
        transform: translateX(-3rem);
        position: relative;
       

    }
    &__image{
        height: 100%;
        transform: skewX(12deg);
        backface-visibility: hidden;
        transition: all .5s;
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        color: $color_white;
        opacity: 0;
        transition:  all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    &:hover &__image{
        transform: scale(.95);
        filter: blur(5px) brightness(80%);
    }
    & p{
        transform: skewX(12deg);
    }
}
/*****************************
        Bookings
*****************************/
.section-book{
    padding: 15rem 0;
    background-image:linear-gradient(to right bottom, $color_primary_green, $color_primary_dark);
}
.book{
    background-image: linear-gradient(108deg,
                                      rgba($color_white, .8) 0%,
                                      rgba($color_white, .8) 50%,
                                    transparent 50%) ,
                                      url(./photo/bg1.jpg);
    background-size: 100%;
    border-radius: 3px;
    
    box-shadow: 0 3rem 5rem rgba($color_black, .5);
    text-align: left;
    &__form{
        width: 50%;
        padding: 6rem;
    }
}
.form{

    &__group{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    &__input{
        font-family: inherit;
        font-size: 1.5rem;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color_white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 80%;
        display: block;
        transition: all .5s;
        &:focus{
            outline: none;
            border-bottom: 3px solid $color_primary_green;
            box-shadow: 0 1rem 2rem rgba($color_black, .2);
        }
        &:focus:invalid{
            border-bottom: 3px solid $color_orange_light;
        }
        &::-webkit-input-placeholder{
            color: #999;
        }
    }
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        text-align: left;
        transition: all .3s;
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio-group{
        width: 40%;
        display: inline;
    }
    &__radio-label{
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    &__radio-input{
        display: none;
    }
    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color_primary_dark;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.4rem;
        left: 0;
        &::after{
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;   
            border-radius: 50%;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color_primary_dark;
            opacity: 0;
            transition: all .2s;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}
   
/*********************
        footer
********************/
.footer{
    background-color:#333 ;
    padding: 10rem 0;
    font-size: 1.4rem;
    text-align: center;
    &__logo-box{
        font-size: 10rem;
        
    }
    &__navigation{
        border-top: 1px solid $color-grey-light;
        padding-bottom: 2rem;
        display: inline-block;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
   
        &__link, &__visited{
            color: #f7f7f7;
            background-color:#333 ;
            text-decoration: none;
            text-transform: uppercase;
            display:inline-block;
            transition: all .2s;
        
        &:hover, &:active{
            color: $color_primary_green;
            box-shadow: 0 1rem 2rem rgba($color_black, .2) ;
            transform: rotate(5deg) scale(1.2);
        }
    }
    &__copyright{
        border-top: 1px solid $color-grey-light;
        padding-bottom: 2rem;
        display: inline-block;
    }
}

/***************************
        navigation
***************************/
.navigation{
    
    &__checkbox{
        display: none;
    }
    &__button{
        background-color: $color_white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 18;
        box-shadow: 0 1rem 3rem rgba($color_black, .2);
        text-align: center;
        cursor: pointer;
    }
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color_secondary_green, $color_primary_dark);
        z-index: 15;
        transition: transform .3s cubic-bezier(0,.51,.89,-0.01);
    }
    &__nav{
        height: 100vh;
       
        position: fixed;
        top: 0;
        right: 0;
        z-index: 17;
        opacity: 0;
        width: 0;
        transition:opacity .8s;
    }
    &__list{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        list-style: none;
        width: 100%;
    }
    &__link{
        &:link, &:visited{
            font-size: 3rem;
            font-weight: 300;
            color: $color_white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 220%;
            transition: all .3s;
            display: inline-block;
            padding: 1rem 2rem;
        }
        &:hover, &:active{
            background-position: 100%;
            color: $color_primary_dark;
            transform: translateX(1rem);
        }
       
    }
    &__item{
        margin: 1rem;
    }

    //checkbox hack
    &__checkbox:checked ~ &__background{
        transform:scale(80);
    }
    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 50%;
    }
    &__icon{
        position: relative;
        margin-top: 3.5rem;
        &,&::before, &::after{
            width: 3rem;
            height:2px;
            background-color: #333;
            display: inline-block;
        }
        &::before, &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }
    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }
    &__checkbox:checked ~ &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked ~ &__button &__icon::before{
        top: 0;
        transform: rotate(45deg);
    }
    &__checkbox:checked ~ &__button &__icon::after{
        top: 0;
        transform: rotate(-45deg);
    }
}
/***********************
        popup
***********************/
.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color_black, .8);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    &:target{
        opacity: 1;
        visibility: visible;
    }
    
    &__content{
        @include absCenter();
        width: 75%;
        height: 50rem;
        background-image: linear-gradient(to right, rgba(white, .9),rgba(white, .8));
        box-shadow: 0 2rem 4rem rgba($color_black, .2);
        border-radius: 3px;
        padding:10rem 5rem;
        text-align: center;
        
    }
    &__left{
        width: 33.3333%;
        overflow: hidden;
    }
    &__right{
        right: 66.6666%;
    }
    &__image{
        display: block;
        width: 100%;
        height: 50%;
        overflow: hidden;
        background-size: cover;
        
    }
    &__text{
        margin-bottom: 2rem;
    }
    &__close{
        &:link, &:visited{
            color: $color_grey_drak;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
        }
        &:hover{
            color: $color_primary_green;
        }
    }
    

}
